body {
  color: rgb(59, 57, 57);
  background-color: rgb(218, 219, 219);
}

section {
  height: 500px;
  padding-bottom: 20px;
}

h1 {
  font-family: "Redressed", cursive;
  font-size: 60px;
}

h2 {
  font-size: 50px;
  text-align: center;
}

h3 {
  font-size: 40px;
  color: rgb(16, 16, 245);
}

.top-nav-bar {
  margin: 30px 100px 50px 20px;
  text-align: right;
}

.top-nav-bar a {
  padding: 10px 30px;
  text-decoration: none;
  color: rgb(59, 57, 57);
  font-weight: bold;
}

.top-nav-bar a:hover {
  color: tomato;
}
#profile-name {
  color: tomato;
}

.picture {
  width: 100%;
}

.part-of-section {
  width: 40%;
  float: left;
  margin-left: 5%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(70deg, coral, tomato);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

#hello-paragraph {
  font-size: 20px;
  padding-bottom: 20px;
}
#about-me-paragraph {
  font-size: 20px;
  padding-bottom: 20px;
}

#span-for-c {
  color: red;
}

#span-for-S1 {
  color: green;
}

#span-for-S2 {
  color: blue;
}
/*   List of Project section    */

#project-section {
  background-color: rgb(195, 236, 236);
  height: 900px;
}

#full-project-heading {
  padding: 100px 0px 20px 0px;
}

#project-heading {
  color: tomato;
}
.project-list {
  width: 25%;
  float: left;
  margin-left: 5%;
}

.container {
  width: 25%;
  float: left;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: gray;
  border-radius: 10px;
}

.project-picture {
  height: 250px;
  width: 250px;
  margin-top: 15px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-heading {
  width: 300px;
}

.project-detail {
  width: 300px;
}

/*    Inquiry section   */

#inquiry-sec {
  height: 350px;
}

#inquiry-shap {
  height: 350px;
  background-image: url("images/inquiry.png");
  background-repeat: no-repeat;
  background-size: 85% 60%;
  background-position: center;
}
.part-of-inquiry {
  margin: 30px, 100px, 40px 20px;
  float: left;
  text-align: center;
}

#inquiry-heading {
  font-size: 50px;
  margin-top: 150px;
  margin-left: 200px;
  color: white;
}
#chat-link {
  font-size: 16px;
  margin-top: 170px;
  margin-left: 300px;
}
.chat-link-button {
  text-decoration: none;
  background-image: linear-gradient(70deg, coral, tomato);
  padding: 20px 30px;
  border-radius: 5px;
  color: white;
}

/*    additional section     */

#additional {
  height: 550px;
  background-color: rgb(195, 236, 236);
}

#additional-sec-head {
  padding-top: 50px;
  margin-bottom: 0px;
}

#great-statement {
  text-align: center;
  font-size: 40px;
}
#great-auther {
  margin-top: 0px;
  padding-right: 200px;
  text-align: right;
}

hr {
  width: 75%;
}

#skil-heading {
  text-align: center;
}
#add-skils {
  text-align: left;
}
#skils-list {
  list-style-type: none;
  margin-left: 300px;
  font-size: 20px;
}

#stars-symbol-html {
  margin-left: 420px;
  /*color: goldenrod;*/
  font-size: 20px;
}

#stars-symbol-css {
  margin-left: 440px;
}
.skil-status {
  margin-left: 400px;
}

/*            footer link        */
#footer-section {
  height: 150px;
  text-align: center;
  margin-bottom: 100px;
}
#message {
  font-size: 24px;
  font-weight: 500;
  margin-top: 50px;
}

.email-link {
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 30px;
}

#footer-icons {
  height: 50%;
  margin-top: 30px;
}

.single-footer-icon {
  height: 50%;
  padding: 10px;
}
